body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 8px;
}

.weather-header {
    text-align: center;
    margin-bottom: 20px;
}

.weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.weather-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f9f9fb;
}

.weather-hour .weather-icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-details .temperature {
    font-size: 20px;
    margin: 5px 0;
}

.weather-details .time {
    font-size: 16px;
    margin: 5px 0;
}

.weather-details .description {
    font-size: 14px;
    margin: 5px 0;
}

.trains h1 {
    text-align: center;
    margin-bottom: 20px;
}

#train-schedule {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#train-schedule li {
    margin: 10px 0;
    font-size: 18px;
}

.trains {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 8px;
}

.trains h1 {
    text-align: center;
    margin-bottom: 20px;
}

#timeline {
    position: relative;
    width: 100%;
    height: 200px; /* Increase height to provide more vertical space */
    border-top: 2px solid #333;
    margin-top: 20px;
    padding-top: 20px;
}

.train {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.train span {
    white-space: nowrap;
}

.s-line {
    color: darkgreen;
    bottom: 80px;
}

.number-line {
    color: purple;
    top: 40px;
}

.other-line {
    color: red;
    top: 80px;
}

.delay-line {
    position: absolute;
    width: 2px;
    background-color: red;
}

.no-delay-line {
    position: absolute;
    width: 2px;
    background-color: lightgray;
}

.trains {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 8px;
    display: flex;
}

.station-name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
    /* border-right: 1px solid #ccc; */
}

#s-trains-section, #buses-section {
    flex-grow: 1;
    padding: 20px;
}

#s-trains-section {
    background-color: #003580; /* Deutsche Bahn blue */
    color: white;
    font-family: 'Courier New', Courier, monospace; /* Pixel-like font */
    border-radius: 8px;
    margin-right: 20px;
}

#buses-section {
    background-color: black; /* Orange color for buses */
    color: #FFA500;
    font-family: 'Courier New', Courier, monospace; /* Pixel-like font */
    border-radius: 8px;
}

.train-entry, .bus-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.train-time, .train-destination, .train-status, .bus-time, .bus-destination, .bus-status {
    flex: 1;
    text-align: center;
}

.train-status {
    color: white; /* Status in yellow */
} 

.bus-status {
    color: #FFA500; /* Status in yellow */
}

.train-entry:last-child, .bus-entry:last-child {
    border-bottom: none; /* Remove border for last entry */
}