body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 8px;
}

.weather-header {
    text-align: center;
    margin-bottom: 20px;
}

.weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.weather-hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f9f9fb;
}

.weather-hour .weather-icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-details .temperature {
    font-size: 20px;
    margin: 5px 0;
}

.weather-details .time {
    font-size: 16px;
    margin: 5px 0;
}

.weather-details .description {
    font-size: 14px;
    margin: 5px 0;
}

.trains h1 {
    text-align: center;
    margin-bottom: 20px;
}

#train-schedule {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#train-schedule li {
    margin: 10px 0;
    font-size: 18px;
}

.trains {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 8px;
}

.trains h1 {
    text-align: center;
    margin-bottom: 20px;
}

#timeline {
    position: relative;
    width: 100%;
    height: 200px; /* Increase height to provide more vertical space */
    border-top: 2px solid #333;
    margin-top: 20px;
    padding-top: 20px;
}

.train {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.train span {
    white-space: nowrap;
}

.s-line {
    color: darkgreen;
    bottom: 80px;
}

.number-line {
    color: purple;
    top: 40px;
}

.other-line {
    color: red;
    top: 80px;
}

.delay-line {
    position: absolute;
    width: 2px;
    background-color: red;
}

.no-delay-line {
    position: absolute;
    width: 2px;
    background-color: lightgray;
}

.trains {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 8px;
    display: flex;
}

.station-name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    padding-right: 5px;
    margin-right: 20px;
    /* border-right: 1px solid #ccc; */
}

#s-trains-section, #buses-section {
    flex-grow: 1;
    padding: 20px;
}

#s-trains-section {
    background-color: #003580; /* Deutsche Bahn blue */
    color: white;
    font-family: 'Courier New', Courier, monospace; /* Pixel-like font */
    border-radius: 8px;
    margin-right: 15px;
    width: 46%;
}

#buses-section {
    background-color: black; /* Orange color for buses */
    color: #FFA500;
    font-family: 'Courier New', Courier, monospace; /* Pixel-like font */
    border-radius: 8px;
    width: 46%;
}

.train-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.bus-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #FFA500;
}

.train-time, .train-destination, .train-status, .bus-time, .bus-destination, .bus-status {
    flex: 1;
    text-align: center;
}

.train-status {
    color: white; /* Status in yellow */
} 

.bus-status {
    color: #FFA500; /* Status in yellow */
}

.train-entry:last-child, .bus-entry:last-child {
    border-bottom: none; /* Remove border for last entry */
}


@keyframes moveStars {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 1000px 200px, 0 0;
    }
}

@keyframes moveClouds {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 2000px 200px, 0 0;
    }
} 

@keyframes moveRain {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 0 0, 50px 500px;
    }
} 
 

@keyframes moveSun {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 0 0, 0 0;
    }
}

@keyframes lightning {
    0%, 37% {
        background-color: #adcadd;
    }
    38% {
        background-color: #ffffff;
    }
    39%, 83% {
        background-color: #adcadd;
    }
    84% {
        background-color: white;
    }
    85%, 88% {
        background-color: #adcadd;
    }
    89% {
        background-color: white;
    }
    90%, 100% {
        background-color: #adcadd;
    }
}

.weathernight {
    background-color: #1c1b44;
    color: white
}

#night-clear {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="10" cy="10" r="1" fill="white" opacity="0.8"/><circle cx="20" cy="30" r="1" fill="white" opacity="0.8"/><circle cx="40" cy="20" r="1" fill="white" opacity="0.8"/><circle cx="60" cy="40" r="1" fill="white" opacity="0.8"/><circle cx="80" cy="50" r="1" fill="white" opacity="0.8"/><circle cx="70" cy="70" r="1" fill="white" opacity="0.8"/><circle cx="30" cy="80" r="1" fill="white" opacity="0.8"/></svg>');
    background-size: 200px 200px;
    animation: moveStars 200s linear infinite;
}

#night-alt-partly-cloudy {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="10" cy="10" r="1" fill="white" opacity="0.8"/><circle cx="20" cy="30" r="1" fill="white" opacity="0.8"/><circle cx="40" cy="20" r="1" fill="white" opacity="0.8"/><circle cx="60" cy="40" r="1" fill="white" opacity="0.8"/><circle cx="80" cy="50" r="1" fill="white" opacity="0.8"/><circle cx="70" cy="70" r="1" fill="white" opacity="0.8"/><circle cx="30" cy="80" r="1" fill="white" opacity="0.8"/></svg>'), 
                     url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="100" viewBox="0 0 200 100"><ellipse cx="70" cy="50" rx="80" ry="20" fill="white" opacity="0.2"/><ellipse cx="40" cy="60" rx="50" ry="15" fill="white" opacity="0.2"/><ellipse cx="100" cy="70" rx="70" ry="15" fill="white" opacity="0.2"/></svg>');
    background-size: 200px 200px, 300px 200px;
    background-position: top right, center center;
    background-repeat: repeat, repeat;
    animation: moveStars 10s linear infinite, moveClouds 300s linear infinite;
}

.weatherday {
    background-color: #c9ecfa;
}

#day-sunny {
    background-color: #87CEEB;
    background-image: 
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="00" r="15" fill="yellow"/><circle cx="50" cy="00" r="30" fill="yellow" opacity="0.3"/></svg>');
    background-size: 200px 200px;
    background-position: top right;
    background-repeat: no-repeat;
    animation: moveSun 1s linear infinite;
}


#day-cloudy {
    background-color: #87CEEB;
    background-image: 
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 53 53"> <ellipse opacity="0.5" fill="white" cx="11.612771" cy="8.384511" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="white" cx="62.819294" cy="7.9383945" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="white" cx="13.989132" cy="46.697689" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="white" cx="7.4429345" cy="21.073368" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="44.766773" cy="21.0518" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="38.679508" cy="24.032022" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="28.660883" cy="17.817938" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="35.241848" cy="22.418478" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="42.388939" cy="28.327984" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="43.932056" cy="54.01812" rx="14.841032" ry="3.6317933" /> <ellipse opacity="0.5" fill="white" cx="-0.29144007" cy="32.282608" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="white" cx="47.796196" cy="41.51902" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="white" cx="36.732674" cy="-4.0913725" rx="17.038042" ry="6.5013585" /> <ellipse opacity="0.5" fill="white" cx="28.381792" cy="3.7214665" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="white" cx="26.902174" cy="4.4836955" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="white" cx="25.826084" cy="22.6875" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="white" cx="55.09956" cy="41.352257" rx="10.222825" ry="9.9112206" /> <ellipse opacity="0.5" fill="white" cx="30.847824" cy="47.885872" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="16.858696" cy="47.168476" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="17.665762" cy="46.182068" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="23.046194" cy="45.554344" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="19.27989" cy="22.328806" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="15.513588" cy="43.3125" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="33.717392" cy="44.747284" rx="14.078804" ry="4.9320655" /> </svg>'),
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="00" r="15" fill="yellow"/><circle cx="50" cy="00" r="30" fill="yellow" opacity="0.3"/></svg>');
    background-size: 200px 200px, 200px 200px;
    background-position: top right, top top;
    background-repeat: repeat, repeat;
    animation: moveClouds 500s linear infinite;
}


#cloudy {
    /* background-color: #99c4e0; */
    background-image:  
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 53 53"> <ellipse opacity="0.5" fill="lightgrey" cx="11.612771" cy="8.384511" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="lightgrey" cx="62.819294" cy="7.9383945" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="lightgrey" cx="13.989132" cy="46.697689" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="lightgrey" cx="7.4429345" cy="21.073368" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="44.766773" cy="21.0518" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="38.679508" cy="24.032022" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="28.660883" cy="17.817938" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="35.241848" cy="22.418478" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="42.388939" cy="28.327984" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="43.932056" cy="54.01812" rx="14.841032" ry="3.6317933" /> <ellipse opacity="0.5" fill="lightgrey" cx="-0.29144007" cy="32.282608" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="lightgrey" cx="47.796196" cy="41.51902" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="lightgrey" cx="36.732674" cy="-4.0913725" rx="17.038042" ry="6.5013585" /> <ellipse opacity="0.5" fill="lightgrey" cx="28.381792" cy="3.7214665" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="lightgrey" cx="26.902174" cy="4.4836955" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="lightgrey" cx="25.826084" cy="22.6875" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="lightgrey" cx="55.09956" cy="41.352257" rx="10.222825" ry="9.9112206" /> <ellipse opacity="0.5" fill="lightgrey" cx="30.847824" cy="47.885872" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="16.858696" cy="47.168476" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="17.665762" cy="46.182068" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="23.046194" cy="45.554344" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="19.27989" cy="22.328806" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="15.513588" cy="43.3125" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="lightgrey" cx="33.717392" cy="44.747284" rx="14.078804" ry="4.9320655" /> </svg>');
    background-size: 200px 200px;
    background-position: top top;
    background-repeat: repeat;
    animation: moveClouds 500s linear infinite;
}

#fog {
    background-color: #97ACBA;
}

#rain-mix {
    background-color: #99c4e0;
    background-image:  
        url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="80" viewBox="0 0 10 10" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg"> <defs id="defs2" /> <g id="layer1"> <rect opacity="0.5" fill="blue" width="0.21522871" height="1.3226901" x="1.4347826" y="1.0088315" /> <rect opacity="0.5" fill="white" width="0.15692934" height="1.7262228" x="2.4548233" y="3.23947" /> <rect opacity="0.5" fill="blue" width="0.23539402" height="0.82948369" x="3.6205842" y="0.71739131" /> <rect opacity="0.5" fill="white" width="0.16813858" height="0.96399456" x="4.9881115" y="2.9256115" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.2554348" x="5.6382475" y="1.2218071" /> <rect opacity="0.5" fill="white" width="0.13451087" height="1.3451086" x="7.3084235" y="3.6542118" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="9.3148775" y="3.5084918" /> <rect opacity="0.5" fill="white" width="0.30264947" height="1.7934783" x="10.13679" y="6.981833" /> <rect opacity="0.5" fill="blue" width="0.21297555" height="0.86311138" x="2.6341712" y="-0.022418479" /> <rect opacity="0.5" fill="white" width="0.14572011" height="2.1297553" x="11.041101" y="1.1993885" /> <rect opacity="0.5" fill="blue" width="0.089673914" height="1.3002717" x="9.236413" y="1.1209239" /> <rect opacity="0.5" fill="white" width="0.078464672" height="1.6813858" x="8.025815" y="0" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.356318" x="12.610394" y="3.1273777" /> <rect opacity="0.5" fill="white" width="0.19055706" height="0.40353259" x="12.386209" y="0.706182" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="1.8705665" x="4.2167006" y="6.03971" /> <rect opacity="0.5" fill="white" width="0.19022709" height="2.5522134" x="6.6738005" y="7.9578333" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="1.0303967" x="6.1982327" y="4.850791" /> <rect opacity="0.5" fill="white" width="0.28534064" height="1.046249" x="9.1150484" y="9.0991964" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="2.0607934" x="0.84016967" y="7.6407886" /> <rect opacity="0.5" fill="white" width="0.095113546" height="0.60238576" x="8.0212421" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.11096581" height="1.6961915" x="9.6064682" y="13.395158" /> <rect opacity="0.5" fill="white" width="0.25363612" height="3.2021561" x="12.016012" y="9.289423" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.0779536" x="0.031704515" y="3.7094283" /> <rect opacity="0.5" fill="white" width="0.079261288" height="1.6327826" x="1.9498277" y="13.157373" /> <rect opacity="0.5" fill="blue" width="0.33289742" height="1.8864187" x="3.6143148" y="9.7174339" /> <rect opacity="0.5" fill="white" width="0.23778386" height="2.1400547" x="4.9776092" y="14.314589" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.775453" x="7.5298223" y="13.648794" /> <rect opacity="0.5" fill="white" width="0.22193162" height="1.6803393" x="11.033172" y="17.437483" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="0.93528324" x="6.0080061" y="20.132366" /> <rect opacity="0.5" fill="white" width="0.15852258" height="2.4412477" x="0.79261291" y="16.724133" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="1.0145445" x="7.9895382" y="18.769073" /> <rect opacity="0.5" fill="white" width="0.20607936" height="2.029089" x="6.7372098" y="16.311974" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.4253955" x="3.5192013" y="16.422939" /> <rect opacity="0.5" fill="white" width="0.12681806" height="0.69749933" x="4.1057348" y="15.123055" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="0.64994258" x="5.5007334" y="12.459875" /> <rect opacity="0.5" fill="white" width="0.26948839" height="0.6340903" x="5.1678357" y="8.7662992" /> <rect opacity="0.5" fill="blue" width="0.30119288" height="0.71335161" x="2.409543" y="8.1956167" /> <rect opacity="0.5" fill="white" width="0.20607936" height="1.8230096" x="12.237943" y="5.0885749" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.58653355" x="12.095273" y="15.218167" /> </g> </svg>');
    background-size: 100px 100px;
    background-position: center center;
    background-repeat: repeat;
    animation: moveRain 20s linear infinite;   
}

#rain {
    background-image:  
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 53 53"> <ellipse opacity="0.5" fill="grey" cx="11.612771" cy="8.384511" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="62.819294" cy="7.9383945" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="13.989132" cy="46.697689" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="7.4429345" cy="21.073368" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="44.766773" cy="21.0518" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="38.679508" cy="24.032022" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="28.660883" cy="17.817938" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="35.241848" cy="22.418478" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="42.388939" cy="28.327984" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="43.932056" cy="54.01812" rx="14.841032" ry="3.6317933" /> <ellipse opacity="0.5" fill="grey" cx="-0.29144007" cy="32.282608" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="grey" cx="47.796196" cy="41.51902" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="grey" cx="36.732674" cy="-4.0913725" rx="17.038042" ry="6.5013585" /> <ellipse opacity="0.5" fill="grey" cx="28.381792" cy="3.7214665" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="26.902174" cy="4.4836955" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="25.826084" cy="22.6875" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="55.09956" cy="41.352257" rx="10.222825" ry="9.9112206" /> <ellipse opacity="0.5" fill="grey" cx="30.847824" cy="47.885872" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="16.858696" cy="47.168476" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="17.665762" cy="46.182068" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="23.046194" cy="45.554344" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="19.27989" cy="22.328806" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="15.513588" cy="43.3125" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="33.717392" cy="44.747284" rx="14.078804" ry="4.9320655" /> </svg>'), 
        url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="80" viewBox="0 0 10 10" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg"> <defs id="defs2" /> <g id="layer1"> <rect opacity="0.5" fill="blue" width="0.21522871" height="1.3226901" x="1.4347826" y="1.0088315" /> <rect opacity="0.5" fill="blue" width="0.15692934" height="1.7262228" x="2.4548233" y="3.23947" /> <rect opacity="0.5" fill="blue" width="0.23539402" height="0.82948369" x="3.6205842" y="0.71739131" /> <rect opacity="0.5" fill="blue" width="0.16813858" height="0.96399456" x="4.9881115" y="2.9256115" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.2554348" x="5.6382475" y="1.2218071" /> <rect opacity="0.5" fill="blue" width="0.13451087" height="1.3451086" x="7.3084235" y="3.6542118" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="9.3148775" y="3.5084918" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="10.13679" y="6.981833" /> <rect opacity="0.5" fill="blue" width="0.21297555" height="0.86311138" x="2.6341712" y="-0.022418479" /> <rect opacity="0.5" fill="blue" width="0.14572011" height="2.1297553" x="11.041101" y="1.1993885" /> <rect opacity="0.5" fill="blue" width="0.089673914" height="1.3002717" x="9.236413" y="1.1209239" /> <rect opacity="0.5" fill="blue" width="0.078464672" height="1.6813858" x="8.025815" y="0" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.356318" x="12.610394" y="3.1273777" /> <rect opacity="0.5" fill="blue" width="0.19055706" height="0.40353259" x="12.386209" y="0.706182" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="1.8705665" x="4.2167006" y="6.03971" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="2.5522134" x="6.6738005" y="7.9578333" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="1.0303967" x="6.1982327" y="4.850791" /> <rect opacity="0.5" fill="blue" width="0.28534064" height="1.046249" x="9.1150484" y="9.0991964" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="2.0607934" x="0.84016967" y="7.6407886" /> <rect opacity="0.5" fill="blue" width="0.095113546" height="0.60238576" x="8.0212421" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.11096581" height="1.6961915" x="9.6064682" y="13.395158" /> <rect opacity="0.5" fill="blue" width="0.25363612" height="3.2021561" x="12.016012" y="9.289423" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.0779536" x="0.031704515" y="3.7094283" /> <rect opacity="0.5" fill="blue" width="0.079261288" height="1.6327826" x="1.9498277" y="13.157373" /> <rect opacity="0.5" fill="blue" width="0.33289742" height="1.8864187" x="3.6143148" y="9.7174339" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="2.1400547" x="4.9776092" y="14.314589" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.775453" x="7.5298223" y="13.648794" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.6803393" x="11.033172" y="17.437483" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="0.93528324" x="6.0080061" y="20.132366" /> <rect opacity="0.5" fill="blue" width="0.15852258" height="2.4412477" x="0.79261291" y="16.724133" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="1.0145445" x="7.9895382" y="18.769073" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.029089" x="6.7372098" y="16.311974" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.4253955" x="3.5192013" y="16.422939" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.69749933" x="4.1057348" y="15.123055" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="0.64994258" x="5.5007334" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.26948839" height="0.6340903" x="5.1678357" y="8.7662992" /> <rect opacity="0.5" fill="blue" width="0.30119288" height="0.71335161" x="2.409543" y="8.1956167" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.8230096" x="12.237943" y="5.0885749" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.58653355" x="12.095273" y="15.218167" /> </g> </svg>');
    background-size: 100px 100px, 50px 80px;
    background-position: top top, center center;
    background-repeat: repeat, repeat;
    animation: moveRain 15s linear infinite;
}

#sprinkle {
    background-image:  
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 53 53"> <ellipse opacity="0.5" fill="grey" cx="11.612771" cy="8.384511" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="62.819294" cy="7.9383945" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="13.989132" cy="46.697689" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="7.4429345" cy="21.073368" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="44.766773" cy="21.0518" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="38.679508" cy="24.032022" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="28.660883" cy="17.817938" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="35.241848" cy="22.418478" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="42.388939" cy="28.327984" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="43.932056" cy="54.01812" rx="14.841032" ry="3.6317933" /> <ellipse opacity="0.5" fill="grey" cx="-0.29144007" cy="32.282608" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="grey" cx="47.796196" cy="41.51902" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="grey" cx="36.732674" cy="-4.0913725" rx="17.038042" ry="6.5013585" /> <ellipse opacity="0.5" fill="grey" cx="28.381792" cy="3.7214665" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="26.902174" cy="4.4836955" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="25.826084" cy="22.6875" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="55.09956" cy="41.352257" rx="10.222825" ry="9.9112206" /> <ellipse opacity="0.5" fill="grey" cx="30.847824" cy="47.885872" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="16.858696" cy="47.168476" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="17.665762" cy="46.182068" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="23.046194" cy="45.554344" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="19.27989" cy="22.328806" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="15.513588" cy="43.3125" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="33.717392" cy="44.747284" rx="14.078804" ry="4.9320655" /> </svg>'), 
        url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="80" viewBox="0 0 10 10" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg"> <defs id="defs2" /> <g id="layer1"> <rect opacity="0.5" fill="blue" width="0.21522871" height="1.3226901" x="1.4347826" y="1.0088315" /> <rect opacity="0.5" fill="blue" width="0.15692934" height="1.7262228" x="2.4548233" y="3.23947" /> <rect opacity="0.5" fill="blue" width="0.23539402" height="0.82948369" x="3.6205842" y="0.71739131" /> <rect opacity="0.5" fill="blue" width="0.16813858" height="0.96399456" x="4.9881115" y="2.9256115" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.2554348" x="5.6382475" y="1.2218071" /> <rect opacity="0.5" fill="blue" width="0.13451087" height="1.3451086" x="7.3084235" y="3.6542118" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="9.3148775" y="3.5084918" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="10.13679" y="6.981833" /> <rect opacity="0.5" fill="blue" width="0.21297555" height="0.86311138" x="2.6341712" y="-0.022418479" /> <rect opacity="0.5" fill="blue" width="0.14572011" height="2.1297553" x="11.041101" y="1.1993885" /> <rect opacity="0.5" fill="blue" width="0.089673914" height="1.3002717" x="9.236413" y="1.1209239" /> <rect opacity="0.5" fill="blue" width="0.078464672" height="1.6813858" x="8.025815" y="0" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.356318" x="12.610394" y="3.1273777" /> <rect opacity="0.5" fill="blue" width="0.19055706" height="0.40353259" x="12.386209" y="0.706182" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="1.8705665" x="4.2167006" y="6.03971" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="2.5522134" x="6.6738005" y="7.9578333" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="1.0303967" x="6.1982327" y="4.850791" /> <rect opacity="0.5" fill="blue" width="0.28534064" height="1.046249" x="9.1150484" y="9.0991964" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="2.0607934" x="0.84016967" y="7.6407886" /> <rect opacity="0.5" fill="blue" width="0.095113546" height="0.60238576" x="8.0212421" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.11096581" height="1.6961915" x="9.6064682" y="13.395158" /> <rect opacity="0.5" fill="blue" width="0.25363612" height="3.2021561" x="12.016012" y="9.289423" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.0779536" x="0.031704515" y="3.7094283" /> <rect opacity="0.5" fill="blue" width="0.079261288" height="1.6327826" x="1.9498277" y="13.157373" /> <rect opacity="0.5" fill="blue" width="0.33289742" height="1.8864187" x="3.6143148" y="9.7174339" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="2.1400547" x="4.9776092" y="14.314589" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.775453" x="7.5298223" y="13.648794" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.6803393" x="11.033172" y="17.437483" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="0.93528324" x="6.0080061" y="20.132366" /> <rect opacity="0.5" fill="blue" width="0.15852258" height="2.4412477" x="0.79261291" y="16.724133" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="1.0145445" x="7.9895382" y="18.769073" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.029089" x="6.7372098" y="16.311974" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.4253955" x="3.5192013" y="16.422939" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.69749933" x="4.1057348" y="15.123055" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="0.64994258" x="5.5007334" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.26948839" height="0.6340903" x="5.1678357" y="8.7662992" /> <rect opacity="0.5" fill="blue" width="0.30119288" height="0.71335161" x="2.409543" y="8.1956167" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.8230096" x="12.237943" y="5.0885749" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.58653355" x="12.095273" y="15.218167" /> </g> </svg>');
    background-size: 100px 100px, 50px 80px;
    background-position: top top, center center;
    background-repeat: repeat, repeat;
    animation: moveRain 38s linear infinite;
}

#snow {
    background-color: #c1d7e6;
    background-image:  
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 53 53"> <ellipse opacity="0.5" fill="white" cx="11.612771" cy="8.384511" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="white" cx="62.819294" cy="7.9383945" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="white" cx="13.989132" cy="46.697689" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="white" cx="7.4429345" cy="21.073368" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="44.766773" cy="21.0518" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="38.679508" cy="24.032022" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="28.660883" cy="17.817938" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="35.241848" cy="22.418478" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="42.388939" cy="28.327984" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="43.932056" cy="54.01812" rx="14.841032" ry="3.6317933" /> <ellipse opacity="0.5" fill="white" cx="-0.29144007" cy="32.282608" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="white" cx="47.796196" cy="41.51902" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="white" cx="36.732674" cy="-4.0913725" rx="17.038042" ry="6.5013585" /> <ellipse opacity="0.5" fill="white" cx="28.381792" cy="3.7214665" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="white" cx="26.902174" cy="4.4836955" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="white" cx="25.826084" cy="22.6875" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="white" cx="55.09956" cy="41.352257" rx="10.222825" ry="9.9112206" /> <ellipse opacity="0.5" fill="white" cx="30.847824" cy="47.885872" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="16.858696" cy="47.168476" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="17.665762" cy="46.182068" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="23.046194" cy="45.554344" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="19.27989" cy="22.328806" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="15.513588" cy="43.3125" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="white" cx="33.717392" cy="44.747284" rx="14.078804" ry="4.9320655" /> </svg>'), 
        url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="80" viewBox="0 0 10 10" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg"> <defs id="defs2" /> <g id="layer1"> <rect opacity="1" fill="white" width="0.21522871" height="1.3226901" x="1.4347826" y="1.0088315" /> <rect opacity="1" fill="white" width="0.15692934" height="1.7262228" x="2.4548233" y="3.23947" /> <rect opacity="1" fill="white" width="0.23539402" height="0.82948369" x="3.6205842" y="0.71739131" /> <rect opacity="1" fill="white" width="0.16813858" height="0.96399456" x="4.9881115" y="2.9256115" /> <rect opacity="1" fill="white" width="0.26902175" height="1.2554348" x="5.6382475" y="1.2218071" /> <rect opacity="1" fill="white" width="0.13451087" height="1.3451086" x="7.3084235" y="3.6542118" /> <rect opacity="1" fill="white" width="0.30264947" height="1.7934783" x="9.3148775" y="3.5084918" /> <rect opacity="1" fill="white" width="0.30264947" height="1.7934783" x="10.13679" y="6.981833" /> <rect opacity="1" fill="white" width="0.21297555" height="0.86311138" x="2.6341712" y="-0.022418479" /> <rect opacity="1" fill="white" width="0.14572011" height="2.1297553" x="11.041101" y="1.1993885" /> <rect opacity="1" fill="white" width="0.089673914" height="1.3002717" x="9.236413" y="1.1209239" /> <rect opacity="1" fill="white" width="0.078464672" height="1.6813858" x="8.025815" y="0" /> <rect opacity="1" fill="white" width="0.26902175" height="1.356318" x="12.610394" y="3.1273777" /> <rect opacity="1" fill="white" width="0.19055706" height="0.40353259" x="12.386209" y="0.706182" /> <rect opacity="1" fill="white" width="0.17437483" height="1.8705665" x="4.2167006" y="6.03971" /> <rect opacity="1" fill="white" width="0.19022709" height="2.5522134" x="6.6738005" y="7.9578333" /> <rect opacity="1" fill="white" width="0.23778386" height="1.0303967" x="6.1982327" y="4.850791" /> <rect opacity="1" fill="white" width="0.28534064" height="1.046249" x="9.1150484" y="9.0991964" /> <rect opacity="1" fill="white" width="0.12681806" height="2.0607934" x="0.84016967" y="7.6407886" /> <rect opacity="1" fill="white" width="0.095113546" height="0.60238576" x="8.0212421" y="12.459875" /> <rect opacity="1" fill="white" width="0.11096581" height="1.6961915" x="9.6064682" y="13.395158" /> <rect opacity="1" fill="white" width="0.25363612" height="3.2021561" x="12.016012" y="9.289423" /> <rect opacity="1" fill="white" width="0.20607936" height="1.0779536" x="0.031704515" y="3.7094283" /> <rect opacity="1" fill="white" width="0.079261288" height="1.6327826" x="1.9498277" y="13.157373" /> <rect opacity="1" fill="white" width="0.33289742" height="1.8864187" x="3.6143148" y="9.7174339" /> <rect opacity="1" fill="white" width="0.23778386" height="2.1400547" x="4.9776092" y="14.314589" /> <rect opacity="1" fill="white" width="0.22193162" height="1.775453" x="7.5298223" y="13.648794" /> <rect opacity="1" fill="white" width="0.22193162" height="1.6803393" x="11.033172" y="17.437483" /> <rect opacity="1" fill="white" width="0.17437483" height="0.93528324" x="6.0080061" y="20.132366" /> <rect opacity="1" fill="white" width="0.15852258" height="2.4412477" x="0.79261291" y="16.724133" /> <rect opacity="1" fill="white" width="0.19022709" height="1.0145445" x="7.9895382" y="18.769073" /> <rect opacity="1" fill="white" width="0.20607936" height="2.029089" x="6.7372098" y="16.311974" /> <rect opacity="1" fill="white" width="0.20607936" height="2.4253955" x="3.5192013" y="16.422939" /> <rect opacity="1" fill="white" width="0.12681806" height="0.69749933" x="4.1057348" y="15.123055" /> <rect opacity="1" fill="white" width="0.20607936" height="0.64994258" x="5.5007334" y="12.459875" /> <rect opacity="1" fill="white" width="0.26948839" height="0.6340903" x="5.1678357" y="8.7662992" /> <rect opacity="1" fill="white" width="0.30119288" height="0.71335161" x="2.409543" y="8.1956167" /> <rect opacity="1" fill="white" width="0.20607936" height="1.8230096" x="12.237943" y="5.0885749" /> <rect opacity="1" fill="white" width="0.12681806" height="0.58653355" x="12.095273" y="15.218167" /> </g> </svg>');
    background-size: 100px 100px, 50px 80px;
    background-position: top top, center center;
    background-repeat: repeat, repeat;
    animation: moveRain 20s linear infinite;
}

#thunderstorm {
    background-color: #596872;
    background-image:  
        url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 53 53"> <ellipse opacity="0.5" fill="grey" cx="11.612771" cy="8.384511" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="62.819294" cy="7.9383945" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="13.989132" cy="46.697689" rx="19.593748" ry="10.536685" /> <ellipse opacity="0.5" fill="grey" cx="7.4429345" cy="21.073368" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="44.766773" cy="21.0518" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="38.679508" cy="24.032022" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="28.660883" cy="17.817938" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="35.241848" cy="22.418478" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="42.388939" cy="28.327984" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="43.932056" cy="54.01812" rx="14.841032" ry="3.6317933" /> <ellipse opacity="0.5" fill="grey" cx="-0.29144007" cy="32.282608" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="grey" cx="47.796196" cy="41.51902" rx="3.990489" ry="7.039402" /> <ellipse opacity="0.5" fill="grey" cx="36.732674" cy="-4.0913725" rx="17.038042" ry="6.5013585" /> <ellipse opacity="0.5" fill="grey" cx="28.381792" cy="3.7214665" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="26.902174" cy="4.4836955" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="25.826084" cy="22.6875" rx="24.794836" ry="2.1073368" /> <ellipse opacity="0.5" fill="grey" cx="55.09956" cy="41.352257" rx="10.222825" ry="9.9112206" /> <ellipse opacity="0.5" fill="grey" cx="30.847824" cy="47.885872" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="16.858696" cy="47.168476" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="17.665762" cy="46.182068" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="23.046194" cy="45.554344" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="19.27989" cy="22.328806" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="15.513588" cy="43.3125" rx="14.078804" ry="4.9320655" /> <ellipse opacity="0.5" fill="grey" cx="33.717392" cy="44.747284" rx="14.078804" ry="4.9320655" /> </svg>'), 
        url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="80" viewBox="0 0 10 10" version="1.1" id="svg5" xmlns="http://www.w3.org/2000/svg"> <defs id="defs2" /> <g id="layer1"> <rect opacity="0.5" fill="blue" width="0.21522871" height="1.3226901" x="1.4347826" y="1.0088315" /> <rect opacity="0.5" fill="blue" width="0.15692934" height="1.7262228" x="2.4548233" y="3.23947" /> <rect opacity="0.5" fill="blue" width="0.23539402" height="0.82948369" x="3.6205842" y="0.71739131" /> <rect opacity="0.5" fill="blue" width="0.16813858" height="0.96399456" x="4.9881115" y="2.9256115" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.2554348" x="5.6382475" y="1.2218071" /> <rect opacity="0.5" fill="blue" width="0.13451087" height="1.3451086" x="7.3084235" y="3.6542118" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="9.3148775" y="3.5084918" /> <rect opacity="0.5" fill="blue" width="0.30264947" height="1.7934783" x="10.13679" y="6.981833" /> <rect opacity="0.5" fill="blue" width="0.21297555" height="0.86311138" x="2.6341712" y="-0.022418479" /> <rect opacity="0.5" fill="blue" width="0.14572011" height="2.1297553" x="11.041101" y="1.1993885" /> <rect opacity="0.5" fill="blue" width="0.089673914" height="1.3002717" x="9.236413" y="1.1209239" /> <rect opacity="0.5" fill="blue" width="0.078464672" height="1.6813858" x="8.025815" y="0" /> <rect opacity="0.5" fill="blue" width="0.26902175" height="1.356318" x="12.610394" y="3.1273777" /> <rect opacity="0.5" fill="blue" width="0.19055706" height="0.40353259" x="12.386209" y="0.706182" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="1.8705665" x="4.2167006" y="6.03971" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="2.5522134" x="6.6738005" y="7.9578333" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="1.0303967" x="6.1982327" y="4.850791" /> <rect opacity="0.5" fill="blue" width="0.28534064" height="1.046249" x="9.1150484" y="9.0991964" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="2.0607934" x="0.84016967" y="7.6407886" /> <rect opacity="0.5" fill="blue" width="0.095113546" height="0.60238576" x="8.0212421" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.11096581" height="1.6961915" x="9.6064682" y="13.395158" /> <rect opacity="0.5" fill="blue" width="0.25363612" height="3.2021561" x="12.016012" y="9.289423" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.0779536" x="0.031704515" y="3.7094283" /> <rect opacity="0.5" fill="blue" width="0.079261288" height="1.6327826" x="1.9498277" y="13.157373" /> <rect opacity="0.5" fill="blue" width="0.33289742" height="1.8864187" x="3.6143148" y="9.7174339" /> <rect opacity="0.5" fill="blue" width="0.23778386" height="2.1400547" x="4.9776092" y="14.314589" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.775453" x="7.5298223" y="13.648794" /> <rect opacity="0.5" fill="blue" width="0.22193162" height="1.6803393" x="11.033172" y="17.437483" /> <rect opacity="0.5" fill="blue" width="0.17437483" height="0.93528324" x="6.0080061" y="20.132366" /> <rect opacity="0.5" fill="blue" width="0.15852258" height="2.4412477" x="0.79261291" y="16.724133" /> <rect opacity="0.5" fill="blue" width="0.19022709" height="1.0145445" x="7.9895382" y="18.769073" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.029089" x="6.7372098" y="16.311974" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="2.4253955" x="3.5192013" y="16.422939" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.69749933" x="4.1057348" y="15.123055" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="0.64994258" x="5.5007334" y="12.459875" /> <rect opacity="0.5" fill="blue" width="0.26948839" height="0.6340903" x="5.1678357" y="8.7662992" /> <rect opacity="0.5" fill="blue" width="0.30119288" height="0.71335161" x="2.409543" y="8.1956167" /> <rect opacity="0.5" fill="blue" width="0.20607936" height="1.8230096" x="12.237943" y="5.0885749" /> <rect opacity="0.5" fill="blue" width="0.12681806" height="0.58653355" x="12.095273" y="15.218167" /> </g> </svg>');
    background-size: 100px 100px, 50px 80px;
    background-position: top top, center center;
    background-repeat: repeat, repeat;
    animation: moveRain 5s linear infinite, lightning 5s infinite;
    color: #505050
}



